.samples__wrapper {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
@media (max-width: 1324px) {
    .samples__wrapper {
        margin-bottom: 39px;
    }
}
@media (max-width: 815px) {
    .samples__wrapper {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }
}
@media (min-width: 1624px) {
    .samples__wrapper {
        margin: 0 auto;
        width: 100%;
    }
}
.samples__wrapper .samples__item {
    position: relative;
}
.samples__wrapper .samples__item img {
    height: 100%;
    width: 100%;
}
.samples__wrapper .samples__item__text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 67, 67, 0.8);
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}
.samples__wrapper .samples__item__text h2 {
    font-family: @Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: @White;
    margin-bottom: 26px;
}
@media (max-width: 1024px) {
    .samples__wrapper .samples__item__text h2 {
        font-size: 18px;
        line-height: 21px;
        min-height: 40px;
        margin-bottom: 6px;
    }
}
.samples__wrapper .samples__item__text span {
    font-family: @Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: @White;
    margin-top: 10px;
}
@media (max-width: 1024px) {
    .samples__wrapper .samples__item__text span {
        font-size: 14px;
        line-height: 16px;
        margin-top: 6px;
    }
}
.samples__wrapper .samples__item__text:hover {
    opacity: 1;
}
