.samples__wrapper {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);

    @media (max-width: 1324px) {
        margin-bottom: 39px;
    }

    @media (max-width: 815px) {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }

    @media (min-width: 1624px) {
        margin: 0 auto;
        width: 100%;
    }

    .samples__item {
        position: relative;

        img {
            height: 100%;
            width: 100%;
        }

        &__text {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: rgba(255, 67, 67, 0.8);
            border: 2px solid @white;
            cursor: pointer;
            transition: all 0.7s ease-in-out;

            h2 {
                display: flex;
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                color: @white;
                margin-bottom: 26px;
                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 21px;
                    min-height: 40px;
                    margin-bottom: 6px;
                }
            }

            span {
                display: flex;
                text-align: center;
                color: @white;
                margin-top: 10px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;

                @media (max-width: 1024px) {
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 6px;
                }
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}
